<div class="container">
  <div class="row">
    <div class="col-md-12 card">
      <div class="card-block">
        <div class="form-group">
          <label>Name</label>
          <app-contest-name [contest]="contest"></app-contest-name>
        </div>
        <div class="form-group">
          <label>Entry Fee</label>
          <span>{{ contest.entryFee }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 card">
      <div class="card-block">
        

        <nav class="nav">
          <button *ngFor="let position of positions" class="nav-link active" [ngClass]="{'active' : position == selectedPosition}" (click)="selectPosition(position)">{{ position.code }}</button>
         
        </nav>
        <table class="table">
          <thead>
            <tr>
              <th (click)="sort('positionId')" style="width:15%;">
                Pos
                <i class="fa fa-sort" *ngIf="selectedSortField != 'positionId'"></i>
                <i class="fa" *ngIf="selectedSortField == 'positionId'" [ngClass]="sortAsc ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
              </th>
              <th style="width:40%;">Player Name</th>
              <th (click)="sort('salary')" style="width:30%;">
                Salary
                <i class="fa fa-sort" *ngIf="selectedSortField != 'salary'"></i>
                <i class="fa" *ngIf="selectedSortField == 'salary'" [ngClass]="sortAsc ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
              </th>
              <th style="width:15%;"></th>
            </tr>
          </thead>
        </table>
        <div class="table-scroll">
          <table class="table">
            <tr *ngFor="let player of draftList | orderBy: selectedSortField: sortAsc">
              <td style="width:15%;">{{ player?.position?.code }}</td>
              <td style="width:40%;">
                <img src="{{ player.imageUrl }}" height="30">
                {{ player.name }}
              </td>
              <td style="width:30%;">{{ player.salary }}</td>
              <td style="width:15%;">
                <button (click)="addPlayer(player)" class="btn btn-sm btn-success">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>   
      </div>
    </div>
    <div class="col-md-6 card">
      <div class=" card-block player-slots">
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <label>Remaining Salary</label>
              <span>{{ salaryCap | currency }}</span>
            </div>
            <table class="table table--players unselectable">
              <thead>
                <tr>
                  <th width="25%">Pos</th>
                  <th width="75%" class="u-text-left">Player</th>
                </tr>
              </thead>
              <tbody class="slot-list" *ngFor="let slot of slots">
                <tr *ngIf="playerList[slot['id']] == null">
                  <td>{{ slot.name }}</td>
                  <!-- <td class="u-text-left hint">{{"Your"  }} {{ slot.name  }} {{"will appear here"  }}a</td> -->
                  <td class="u-text-left hint">
                    {{'your will appear here' + slot.name}}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="playerList[slot['id']] != null">
                  <td>{{ slot.name }}</td>
                  <td class="u-text-left align align--left-middle td--player-name" ng-click="showPlayerModal(vm.player_list[slot['id']].player.id)">
                    <div class="row">
                      <img height="45" src="{{playerList[slot['id']].player.imageUrl}}" class="col-sm-3 player-img--md side-bar-player-image"
                      />
                      <div col-sm-9>
                        <a id="playerList[slot['id']].player.id">
                          <strong>{{ playerList[slot['id']].player.name }}</strong>
                        </a>
                        <br />
                        <a id="playerList[slot['id']].player.id" class="u-link">{{ playerList[slot['id']].player.salary | currency:'USD':'symbol'}}</a>
              
                      </div>

                    </div>
                  </td>
                  <td class="sidebar-button-td" colspan="2">
                    <button class="btn btn-default btn-sm" (click)="removePlayer(playerList[slot['id']].player, slot['id'])">
                      <i class="fa fa-minus-circle fa-3" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Type House Player Accounts. eg <i>1-40,55,60</i></label>
              <input type="text" class="form-control" [(ngModel)]="housePlayers" />
            </div>
          </div>
          <div class="col-md-12">
            <button (click)="submit(modalLoading)" class="btn btn-lg btn-success">Submit</button>
          </div>
        </div> 
        
      </div>
    </div>
  </div>
</div>

<template #modalLoading>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Entries</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <i class="fa fa-refresh fa-spin"></i>
      <p>Submitting {{ finishedHousePlayers }}/{{ totalHousePlayers }}</p>
      <button (click)="cancel()" routerLink="/house-players" *ngIf="finishedHousePlayers == totalHousePlayers" class="btn btn-success btn-lg">Done</button>
    </div>
  </div>
</template>