<div class="contest-edit-parent-page card">
    <div class="card-header">
        Announcment Information
    </div>
    <div class="card-block">
        <div class="row-container center-content">
            <div class="about center-content margin-bottom-gap">
                Message: 
            </div>
            <div class="form-input">
                <textarea class="inputs">
                </textarea>
            </div>
        </div>
        <div class="row-container center-content">
            <div class="form-input">
                Status: <input type="checkbox" [(ngModel)]="announcementStatus"/> 
                <span *ngIf="announcementStatus" class="success status">
                    ACTIVE
                </span>
                <span *ngIf="!announcementStatus" class="error status">
                    INACTIVE
                </span>
            </div>
        </div>
        <div  class="message-content center-content">
            <span [ngClass]="message == 'Contest Details was successfully updated.' ? 'success':'error'">
                {{message}}
            </span>
        </div>
        <div class="controller center-content">
            <button class="w3-btn w3-ripple w3-green" (click)="saveChanges()">APPLY CHANGES</button>
            <button class="w3-button w3-white w3-border w3-border-blue" (click)="cancelChanges()">CANCEL</button>
        </div>
    </div>
</div>