<div>
   <table class="table table-hover table-condensed table-striped" id="table">
      <thead>
         <tr class="table-header-info">
            <th class="thead-title">Player List</th>
            <th> </th>
            <th>
               <select class='form-control' [(ngModel)]="filterLeagueId" (change)="triggerFilter()">
                  <option disabled selected value=0>Filter by League</option>
                  <option *ngFor='let league of leagues | async' value="{{league.id}}">{{league.settings.description}}</option>
               </select>
            </th>
            <th>
               <select class='form-control' [(ngModel)]="filterByPeriod" (change)="triggerFilterByPeriod()">
                  <option disabled selected value=''>Filter by Period</option>
                  <option *ngIf="filterLeagueId > 0" value="Current">Current Period</option>
                  <option *ngIf="filterLeagueId > 0" value="Prev">Previous Period</option>
                  <option *ngIf="filterLeagueId > 0" value="Next">Next Period</option>
               </select>
            </th>
            <th>
                 <input type="text" class="form-control search" placeholder="Search Player" 
                 [value]="filterByPlayerName" [formControl]="filterPlayerNameControl"/>
            </th>
         </tr>
         <tr>
            <th class="pointer" (click)="order('name')"><i class="fa fa-user"></i> Player Name</th>
            <th>Team</th>
            <th class="pointer" (click)="order('position.name')">Position</th>
            <th class="pointer" (click)="order('salary')"><i class="fa fa-money"></i> Salary</th>
            <th class="center-content">Action</th>
         </tr>
      </thead>
      <tbody id="table-loader">
         <tr>
            <td colspan="5" class="td-loader-padding"> 
                   <div class="loader"></div>
            </td>
        </tr>
      </tbody>
      <tbody id="table-empty">
         <tr>
            <td colspan="5" class="center-content"> 
                   <div>
                       No Players found
                   </div>
            </td>
        </tr>
      </tbody>
      <tbody id="table-content">
        <tr *ngFor="let player of players | async | orderBy:orderByName:orderByBool:false">
            <td>{{player?.name}}</td>
            <td>{{player.team ? player.team?.name:''}}</td>
            <td>{{player.position?.name}}</td>
            <td>$ {{player?.salary | number}}</td>
            <td class="center-content"><a class='view-player' (click)="viewPlayer(player)">VIEW</a></td>
        </tr>
    </tbody>
   </table>
   <div class="bottom-remotes center-content">

        <span *ngIf='page > 1' class='icon-arrow-left icons-controls' (click)='triggerPage("minus")'></span>
        <span class="icon-arrow-right icons-controls" (click)='triggerPage("add")'></span>
    </div>
    <br>

</div>