@import '../../shared/colors';

#table {
    .view-player {
        cursor: pointer;
        color:cornflowerblue;
    }

    .thead-title {
        font-size: 24px;
        font-weight: 600;
    }
    th {
        border: 0px;
    }

    .table-header-info {
        background-color: $dark-gray;
        color: $white;
    }
    .search {
        background: url($search) no-repeat$white;
        background-position: right;
        background-origin: content-box;
        background-size: 20px;
    }
}

.bottom-remotes {
    cursor: pointer;
    display: none;
    .icons-controls {
        font-size: 21px;
        font-weight: 900;

        &:hover {
            color: $light-blue;
        }
    }
}






// table tbody, table thead , tbody tr{
//     display:table;
//     width:100%;
//     table-layout:fixed;
// }

table thead , th {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

table tbody {
   overflow: auto;
   height: 25em;
}

table {
    width: 100%; /* can be dynamic */
}

th , td {
    width: 20%;
}

h1 {
    font-weight: 700;
}

table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    }
tbody {
    display:block;
    max-height:300px;
    overflow-y:scroll;
}