<div class="team-edit-parent-page card">
    <div class="card-header">
        Team Information
    </div>
    <div class="card-block">
        <div class="row">
            <div class="about">
                Contest Name: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="teamInfo.name" class="inputs"/>
            </div>
            <div class="about">
                Abbreviation: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="teamInfo.abbreviation" class="inputs"/>
            </div>
            <div class="about">
                Profile Url: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="teamInfo.profileUrl" class="inputs"/>
            </div>
        </div>

        <div class="row row-top-space">
            <div class="about">
                Image Url: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="teamInfo.imageUrl" class="inputs"/>
            </div>
            <div class="about">
                Thumbnail Url: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="teamInfo.thumbnailUrl" class="inputs"/>
            </div>
        </div>
        <div  class="message-content center-content">
            <span [ngClass]="message == 'Team Information was successfully updated.' ? 'success':'error'">
                {{message}}
            </span>
        </div>
        <div class="controller center-content">
            <button class="w3-btn w3-ripple w3-green" (click)="saveChanges()">APPLY CHANGES</button>
            <button class="w3-button w3-white w3-border w3-border-blue" (click)="cancelChanges()">CANCEL</button>
        </div>
    </div>
</div>