<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
	<li class="nav-item">
	  <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
	</li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/analytics']"><i class="fa fa-bar-chart"></i> Analytics</a>
          <!-- <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a> -->
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/players']"><i class="fa fa-group"></i> Players</a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/announcement']"><i class="fa fa-bullhorn"></i> Announcement</a>
          <!-- <a class="nav-link" routerLinkActive="active" [routerLink]="['/games']"><i class="fa fa-gamepad"></i> Games <span class="badge badge-danger">HOT</span></a> -->
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/games']"><i class="fa fa-gamepad"></i> Games </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/contests']"><i class="fa fa-trophy"></i> Contests</a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/teams']"><i class="fa fa-soccer-ball-o"></i> Teams</a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/house-players']"><i class="fa fa-soccer-ball-o"></i> House Players</a>
          <a class="nav-link" routerLinkActive="active" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

	<!-- Breadcrumb -->
	<!-- <ol class="breadcrumb">
	  <app-breadcrumbs></app-breadcrumbs>
	</ol> -->

	<div>
	  <router-outlet></router-outlet>
	</div>
	<!-- /.conainer-fluid -->
  </main>
</div>

<!-- <footer class="app-footer">
  <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer> -->

