@import '../../shared/colors';

.contest-create-parent-page {
    color: $martinique;
    .card-header {
        font-size: 2em;
    }

    .card-block {
        
        .inputs {
            padding: 0.5rem 0.75rem;
            font-size: 0.875rem;
            line-height: 1.25;
            color: #3e515b;
            background-color: #fff;
            background-image: none;
            background-clip: padding-box;
            border: 1px solid #c2cfd6;
            border-radius: 0;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        .row-container {
            display: block;
            margin-bottom: 1%;
            .about , .form-input {
                display: inline-block
            }
            .about {
                width: 100px;
            }
            
            .form-input {
                @media screen and (min-width: 768px){
                    margin-left: 3%;
                    margin-right: 3%;
                }
                @media screen and (max-width: 768px){
                    margin-top: 2%;
                }
            }
        }

        .prize {
            font-weight: 700;
        }
        .controller {
            margin-top: 5%;
        }
    }
}