<div class="contest-create-parent-page card">
    <div class="card-header">
        Contest Information
    </div>
    <div class="card-block">
        <div class="row-container">
            <div class="about">
                League: 
            </div>
            <div class="form-input">
                <select class='form-control' [(ngModel)]="selectedLeague">
                    <!-- <option disabled selected value=0>Choose League</option> -->
                    <option *ngFor='let league of leagues | async' [ngValue]="league">{{league.settings.description}}</option>
                </select>
            </div>
        </div>
        <div class="row-container">
            <div class="about">
                Contest Name: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="contest.name" class="inputs"/>
            </div>
        </div>
        <div class="row-container">
           
            <div class="about">
                Min Entries: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contest.minEntries" class="inputs"/>
            </div>
            <div class="about">
                Max Entries: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contest.maxEntries" class="inputs"/>
            </div>
        </div>
        <div class="row-container">
            <div class="about">
                Entry Fee: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contest.entryFee" class="inputs"/>
            </div>
            <div class="about">
                Max Entry Per Player: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contest.maxEntriesPerPlayer" class="inputs"/>
            </div>
          
        </div>
        <div class="row-container">
            <div class="about">
                Prize Structure: 
            </div>
            <div class="form-input">
               <select name="prizeStructure" class="inputs" [(ngModel)]="contest.prizeStructure">
                   <option value="TIERED">Tiered</option>
                   <option value="WINNER_TAKES_ALL">Winner Takes All</option>
               </select>
            </div>
            <div class="about">
                Min Prize Pool: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contest.minPrizePool" class="inputs"/>
            </div>
        </div>
        <div class="row-container center-content prize">
            PRIZES <br>
            <button (click)="addPrize()" class="btn btn-primary">Add New Prize </button>
        </div>
        <div class="row-container" *ngFor="let prize of contest.prizes">
            <div class="about">
                From Rank: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="prize.fromRank" class="inputs"/>
            </div>
            <div class="about">
                To rank: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="prize.toRank" class="inputs"/>
            </div>
            <div class="about">
                Prizepool: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="prize.shareOfPrizePool" class="inputs"/>
            </div>
        </div>
        <div class="row-container center-content">
            <input type="checkbox" [(ngModel)]="contest.tournament" class="inputs"/> 
            <span>
                {{
                    contest.tournament ? 'TOURNAMENT':'NON-TOURNAMENT'
                }}</span>
        </div>
        <div  class="message-content center-content">
            <span [ngClass]="message == 'Contest was successfully created.' ? 'success':'error'">
                {{message}}
            </span>
        </div>
        <div class="controller center-content">
            <button class="w3-btn w3-ripple w3-green" (click)="saveContest()">SAVE CONTEST</button>
            <button class="w3-button w3-white w3-border w3-border-blue" (click)="cancelChanges()">CANCEL</button>
        </div>
    </div>
</div>