<div>
    <table class="table table-hover table-condensed table-striped" id="table">
       <thead>
          <tr class="table-header-info">
             <th class="thead-title">Contest List</th>
             <th>
                 <a routerLink="/contests/create" class="btn btn-success">Create Contest</a>
             </th>
             <th>
                  <select class='form-control' [(ngModel)]="filterLeagueId" (change)="triggerFilter('league')">
                    <option disabled selected value=0>Filter by League</option>
                    <option *ngFor='let league of leagues | async' value="{{league.id}}">{{league.settings.description}}</option>
                  </select>
             </th>
             <th>
                    <select class='form-control' [(ngModel)]="filterPeriod" (change)="triggerFilter('period')">
                        <option disabled selected value=''>Filter by Period</option>
                        <option *ngIf="filterLeagueId > 0" value="Current">Current Period</option>
                        <option *ngIf="filterLeagueId > 0" value="Prev">Previous Period</option>
                        <option *ngIf="filterLeagueId > 0" value="Next">Next Period</option>
                    </select>
             </th>
          </tr>
          <tr>
             <th><i class="fa fa-user"></i> Contest Title</th>
             <th>Time Close</th>
             <th><i class="fa fa-money"></i> Status</th>
             <th>Action</th>
          </tr>
       </thead>
       <tbody id="contest-table-loader">
            <tr>
               <td colspan="4" class="td-loader-padding"> 
                      <div class="loader"></div>
               </td>
           </tr>
         </tbody>
         <tbody id="contest-table-empty">
            <tr>
               <td colspan="4" class="center-content"> 
                      <div>
                          No Contest found
                      </div>
               </td>
           </tr>
         </tbody>
       <tbody id="contest-table-content">
          <tr *ngFor="let contestInfo of contest | async">
              <td> {{contestInfo.name}}</td>
              <td>
                  {{contestInfo.closesAt | date: 'MMMM dd, yyyy HH:MM'}}
              </td>
              <td>{{contestInfo.contestState}}</td>
              <td class='view-contest'><span (click)='viewContest(contestInfo.id)'>VIEW</span></td>
          </tr>
       </tbody>
    </table>
    <div class="bottom-remotes center-content" *ngIf="(this.contest | async ).length == 30">
        <span *ngIf='page > 1' class='icon-arrow-left icons-controls' (click)='triggerPage("minus")'></span>
        <span class="icon-arrow-right icons-controls" (click)='triggerPage("add")'></span>
    </div>
 </div>