@import '../../shared/colors';

#table {
    .thead-title {
        font-size: 24px;
        font-weight: 600;
    }
    .view-contest {
        cursor: pointer;
        color:cornflowerblue;
    }
    th {
        border: 0px;
    }

    .table-header-info {
        background-color: $dark-gray;
        color: $white;
    }
}
.bottom-remotes {
    cursor: pointer;
    .icons-controls {
        font-size: 21px;
        font-weight: 900;

        &:hover {
            color: $light-blue;
        }
    }
}


table thead , th {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

table tbody {
   overflow: auto;
   height: 25em;
}

table {
    width: 100%; /* can be dynamic */
}

// th , td {
//     width: 25%;
// }

h1 {
    font-weight: 700;
}

table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    }
tbody {
    display:block;
    max-height:300px;
    overflow-y:scroll;
}
// table tbody, table thead
// {
//     display: block;
    
// }

// table thead , th
// {
//     margin-bottom: 0px !important;
//     margin-top: 0px !important;
// }

// table tbody 
// {
//    overflow: auto;
//    height: 25em;
// }

// table {
//     width: 100%; /* can be dynamic */
// }

// th , td
// {
//     width: 33%;
    
// }
// h1
// {
//     font-weight: 700;
// }