@import '../../shared/colors';

.contest-edit-parent-page {
    color: $martinique;
    .card-header span {
        font-size: 2em;
    }
    .card-header button {
        float: right;
    }

    .card-block {
        
        .inputs , .drop-down {
            font-size: 0.875rem;
            line-height: 1.25;
            color: #3e515b;
            background-color: #fff;
            background-image: none;
            background-clip: padding-box;
            border: 1px solid #c2cfd6;
            border-radius: 0;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            width: 250px;
        }
        .textarea-input{
            height: 150px;
            width: 80%;
            resize: none;
        }
        .drop-down {
            margin-left: 5%;
        }
        .row-container {
            display: block;
            margin-bottom: 1%;

                .message-container {
                    outline: 2px solid $light-gray;
                    padding: 5px 0px 5px 10px;
                    margin-bottom: 2%;
                    .header {
                        text-transform: uppercase;
                    }
                }
                .status {
                    padding-left: 4px;
                }
                .success {
                    color: $light-blue;
                }
            
                .error {
                    color: $dark-red;
                }

        }
        
        .new-message {
            margin-top: 5%;
            .controller {
                margin-top: 2%;
            }
        }

        .controller {
            margin-top: 5%;
        }
    }
}
.margin-bottom-gap {
    margin-bottom: 2%;
}
.onoffswitch {
    position: relative; width: 52px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 11px; padding: 0; line-height: 7px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #2E8DEF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 13px; margin: 0px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 39px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}