<div class="contest-edit-parent-page card">
    <div class="card-header">
        <span>Create Announcment</span>
        <!-- <button class="w3-button w3-white w3-border w3-border-blue" (click)="setDisplayCreateMessage(true)">
            ADD MESSAGE
        </button> -->
    </div>
    <div class="card-block">
        <div class="row-container">
            <div class="message-container">
                <div class="input-container margin-bottom-gap">
                    <input type="text" [(ngModel)]="message.language" class="inputs" />
                </div>
                <div class="input-container">
                    <textarea class="inputs textarea-input" [(ngModel)]="message.message" placeholder="ENTER {{message.language | uppercase}} MESSAGE">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row-container center-content">
            <div class="form-input">
                Status: <input type="checkbox" [(ngModel)]="message.publish"/> 
                <span *ngIf="message.publish" class="success status">
                    ACTIVE
                </span>
                <span *ngIf="!message.publish" class="error status">
                    INACTIVE
                </span>
            </div>
        </div>
        <div  *ngIf="returnMessage" class="message-content center-content">
            <span [ngClass]="returnMessage == 'success' ? 'success':'error'">
                {{
                    returnMessage == 'success' ? 'Announcement Successfully submit':'Error Submitting Announcement' | uppercase
                }}
            </span>
        </div>
        <div class="controller center-content">
            <button class="w3-btn w3-ripple w3-green" (click)="submit()">SUBMIT</button>
            <button class="w3-button w3-white w3-border w3-border-blue" (click)="cancelChanges()">CANCEL</button>
        </div>
        <!-- <div *ngIf="displayCreateMessage" class="row-container center-content new-message">
            <span>SELECT LANGUAGE</span>
            <select [(ngModel)]="language" class="drop-down">
                <option value="">CHOOSE LANGUAGE</option>
                <option *ngFor="let lang of languageList" [ngValue]="lang.value">{{lang.displayText}}</option>
            </select>
            <div class="controller">
                <button class="w3-btn w3-ripple w3-green" (click)="addLanguage()" [disabled]="language == ''">SUBMIT</button>
                <button class="w3-button w3-white w3-border w3-border-blue" (click)="setDisplayCreateMessage(false)">CANCEL</button>
            </div>
        </div> -->
    </div>
</div>