@import '../../shared/colors';

#table {
    .view-game {
        cursor: pointer;
        color:cornflowerblue;
    }

    .thead-title {
        font-size: 24px;
        font-weight: 600;
    }
    th {
        border: 0px;
    }
    .versus {
        color: orangered;
        font-weight: 700;
        text-transform: uppercase;
    }
    .table-header-info {
        background-color: $dark-gray;
        color: $white;
    }
}

.bottom-remotes {
    display: none;
    cursor: pointer;
    .icons-controls {
        font-size: 21px;
        font-weight: 900;

        &:hover {
            color: $light-blue;
        }
    }
}

.first-column {
    width: 30%;
}
table thead , th {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

table tbody {
   overflow: auto;
   height: 25em;
}

table {
    width: 100%; /* can be dynamic */
}

h1 {
    font-weight: 700;
}

table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    }
tbody {
    display:block;
    max-height:300px;
    overflow-y:scroll;
}

.text-justify {
    text-align: justify;
}

.trash-icon {
    padding-left: 20px;
    cursor: pointer;
    color:red;
}