<div>
    <table class="table table-hover table-condensed table-striped" id="table">
       <thead>
          <tr class="table-header-info">
             <th class="thead-title first-column">Announcement List</th>
             <th>
                <a routerLink="create" class="btn btn-success">Create Announcement</a>
             </th>
             <th colspan="4"></th>
          </tr>
       </thead>
       <thead>
          <tr>
            <th>Id</th>
            <th colspan="3">Message</th>
            <th class="center-content">Status</th>
            <th class="center-content">Action</th>
         </tr>
       </thead>
       <!-- <tbody id="games-table-loader">
            <tr>
               <td colspan="5" class="td-loader-padding"> 
                      <div class="loader"></div>
               </td>
           </tr>
        </tbody> -->
        <tbody *ngIf="(announcementList | async).length <= 0" id="games-table-empty">
            <tr>
               <td colspan="5" class="center-content"> 
                      <div>
                          No Announcement found
                      </div>
               </td>
           </tr>
        </tbody>
       <tbody *ngIf="(announcementList | async).length > 0" id="games-table-content">
            <tr *ngFor="let announcement of announcementList | async">
                <td> {{announcement.id}} </td>
                <td colspan="3" class="text-justify">{{announcement.message}}</td>
                <td class="center-content">{{announcement.active == 1 ? 'ACTIVE':'INACTIVE' | uppercase }}</td>
                <td class="center-content">
                    <span class="view-game" (click)="viewAnnouncement(announcement.id)">VIEW</span>
                    <li (click)="deleteAnnouncement(announcement.id)" class="fa fa-trash trash-icon fa-lg"></li>
                </td>
            </tr>
       </tbody>
    </table>
 </div>