.center-content {
    text-align: center;
}

#parent-login {
    width: 100%;
    background-color:#e4e5e6;
    color: #3D3A57;
    @media only screen and (min-width : 1000px) {
        padding-top: 10%;
        margin-left: 33%;
        margin-top: -10%;
    }

    .login-form {
        background-color: white;
        margin-top: 10%;
        border-radius: 5px;
        padding-top: 2%;
        padding-bottom: 2%;
        border: 1px solid rgba(177, 176, 185, 0.95);
        .header-title {
            font-size: 21px;
        }

        .handle-input {
            margin-top: 5%;
            input {
                font-size: 14px;
                border-radius: 5%;
            }
        }
        
        .message-handler {
            margin-top: 5%;
            color:red;
            font-weight: 700;
            font-size: 16px;
        }
    }
}
