<div id="parent-login" class="center-content">
    <form (submit)="submit()">
        <div class="col-md-offset-4 co-lg-offset-4 col-md-4 col-lg-4 col-sm-12 col-xs-12 login-form">
            <div class="center-content header-title">
                Login to your Account
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 handle-input">
                <input type="text" name="username" placeholder="Username" class="form-control" [(ngModel)]="storage.username" autocomplete="off" autofocus/>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 handle-input">
                <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="storage.password" autocomplete="off"/>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 handle-input center-content">
                <input [disabled]="storage.username == '' || storage.password == ''" type="submit" class="btn btn-info" value="LOGIN"/>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 center-content message-handler" [innerHTML]="message">
            </div>
        </div>
    </form>
</div>