$martinique: #3D3A57;
$dark-gray: #181818;
$light-gray: #e4e5e6;
$white: #FFFFFF;
$light-blue: #2196F3;
$dark-red: #e50000;
$search: 'https://d30y9cdsu7xlg0.cloudfront.net/png/907-200.png';
.center-content {
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.no-padding {
    margin: 0;
    padding: 0;
}
.margin-bottom-gap {
    margin-bottom: 2%;
}
.message-content {
    margin-top: 5%;
    font-weight: 700;
    
    .success {
        color: $light-blue;
    }

    .error {
        color: $dark-red;
    }
}

.loader {
    border: 18px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.td-loader-padding {
    padding-left: 45%;
}