<div class="contest-edit-parent-page card">
    <div class="card-header">
        Contest Information
    </div>
    <div class="card-block">
        <div class="row-container">
            <div class="about">
                Contest Name: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="contestInfo.name" class="inputs"/>
            </div>
            <div class="about">
                Min Entries: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contestInfo.minEntries" class="inputs"/>
            </div>
            <div class="about">
                Max Entries: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contestInfo.maxEntries" class="inputs"/>
            </div>
        </div>
        <div class="row-container">
            <div class="about">
                Entry Fee: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contestInfo.entryFee" class="inputs"/>
            </div>
            <div class="about">
                Min Prize Pool: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="contestInfo.minPrizePool" class="inputs"/>
            </div>
            <div class="about">
                Prize Structure: 
            </div>
            <div class="form-input">
                <input type="text" [(ngModel)]="contestInfo.prizeStructure" class="inputs"/>
            </div>
        </div>
        <div class="row-container center-content prize">
            PRIZES
            <button (click)="addPrize()" class="btn btn-primary">Add New Prize </button>
        </div>
        <div class="row-container" *ngFor="let prize of contestInfo.maxPrizeTable">
            <div class="about">
                From Rank: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="prize.fromRank" class="inputs"/>
            </div>
            <div class="about">
                To rank: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="prize.toRank" class="inputs"/>
            </div>
            <div class="about">
                Prizepool: 
            </div>
            <div class="form-input">
                <input type="number" [(ngModel)]="prize.shareOfPrizePool" class="inputs"/>
            </div>
        </div>
        <div class="row-container center-content">
            <input type="checkbox" [(ngModel)]="contestInfo.tournament" class="inputs"/> 
            <span>
                {{
                    contestInfo.tournament ? 'TOURNAMENT':'NON-TOURNAMENT'
                }}</span>
        </div>
        <div  class="message-content center-content">
            <span [ngClass]="message == 'Contest Details was successfully updated.' ? 'success':'error'">
                {{message}}
            </span>
        </div>
        <div class="controller center-content">
            <button class="w3-btn w3-ripple w3-green" (click)="saveChanges()">APPLY CHANGES</button>
            <button class="w3-button w3-white w3-border w3-border-blue" (click)="cancelChanges()">CANCEL</button>
        </div>
    </div>
</div>