<div>
    <table class="table table-hover table-condensed table-striped" id="table">
       <thead>
          <tr class="table-header-info">
             <th class="thead-title">Team List</th>
             <th> </th>
             <th>
                
             </th>
             <th colspan="2">
                 <select class='form-control' [(ngModel)]="filterLeagueId" (change)="triggerFilter('league')">
                    <option disabled selected value=0>Filter by League</option>
                    <option *ngFor='let league of leagues | async' value="{{league.id}}">{{league.settings.description}}</option>
                  </select>
             </th>
          </tr>
          <tr>
             <th><i class="fa fa-user"></i> Team Name</th>
             <th>Abbreviation</th>
             <th>Created Date</th>
             <th> Logo</th>
             <th class="center-content">Action</th>
          </tr>
       </thead>
       <tbody id="teams-table-loader">
            <tr>
               <td colspan="5" class="td-loader-padding"> 
                      <div class="loader"></div>
               </td>
           </tr>
         </tbody>
         <tbody id="teams-table-empty">
            <tr>
               <td colspan="5" class="center-content"> 
                      <div>
                          No Team found
                      </div>
               </td>
           </tr>
         </tbody>
       <tbody id="teams-table-content">
          <tr *ngFor="let team of teams | async">
             <td>{{team.name}}</td>
             <td>{{team.abbreviation}}</td>
             <td>{{team.createdAt | date: 'MMM dd, yyyy'}}</td>
             <td>
                <img src="{{team.imageUrl}}" width="30" onError="this.src='https://uslada-shop.ru/infoimages/31-oshibka-muzhchiny-v-posteli.png'"/>
             </td>
             <td class="center-content"><a class='view-player' (click)="viewTeam(team)">VIEW</a></td>
          </tr>
       </tbody>
    </table>
 </div>