<div>
        <table class="table table-hover table-condensed table-striped" id="table">
           <thead>
              <tr class="table-header-info">
                 <th class="thead-title first-column">Game List</th>
                 <th></th>
                 <th colspan="2">
                    <select class='form-control' [(ngModel)]="filterLeagueId" (change)="triggerFilter()">
                        <option disabled selected value=0>Filter by League</option>
                        <option *ngFor='let league of leagues | async' value="{{league.id}}">{{league.settings.description}}</option>
                      </select>
                 </th>
                 <th>
                     <select class="form-control" [(ngModel)]="filterPeriod" (change)="triggerFilter()">
                        <option value="Current">Current</option>
                        <option value="Next">Next</option>
                        <option value="Prev">Prev</option>
                     </select>
                 </th>
              </tr>
              <tr>
                 <th class="first-column"> Game Match</th>
                 <th>Game ID</th>
                 <th>Game Time</th>
                 <th> Score</th>
                 <th> Status</th>
                 <th>Action</th>
              </tr>
           </thead>
           <tbody id="games-table-loader">
                <tr>
                   <td colspan="5" class="td-loader-padding"> 
                          <div class="loader"></div>
                   </td>
               </tr>
            </tbody>
            <tbody id="games-table-empty">
                <tr>
                   <td colspan="5" class="center-content"> 
                          <div>
                              No Games found
                          </div>
                   </td>
               </tr>
            </tbody>
           <tbody id="games-table-content">
                <tr *ngFor="let gameInfo of games | async">
                    <td class="first-column">{{gameInfo.team1.name}} <span class="versus">vs</span> {{gameInfo.team2.name}}</td>
                    <td>{{gameInfo.id}}</td>
                    <td>{{gameInfo.gameTime + 'Z' | date: 'MMMM dd, yyyy HH:MM'}}</td>
                    <td>{{gameInfo.team1Score}}-{{gameInfo.team2Score}}</td>
                    <td>{{gameInfo.gameState}}</td>
                    <td><span class="view-game" (click)="viewGame(gameInfo.id)">VIEW</span></td>
                </tr>
           </tbody>
        </table>
        <div class="bottom-remotes center-content">
            <span *ngIf='page > 1' class='icon-arrow-left icons-controls' (click)='triggerPage("minus")'></span>
            <span class="icon-arrow-right icons-controls" (click)='triggerPage("add")'></span>
        </div>
     </div>