<div class="game-edit-parent-page card">
    <div class="card-header">
        Game Summary
    </div>
    <div class="card-block body">
        <div class="team-match center-content">
            <span class="team-name">
                <img src="{{gameInfo.team1.imageUrl}}" class="team-logo"  onError="this.src='https://uslada-shop.ru/infoimages/31-oshibka-muzhchiny-v-posteli.png'"/>
                {{gameInfo.team1.name}} 
                (<span class="score" [ngClass]="gameInfo.team1Score > gameInfo.team2Score ? 'win':'loss'">
                    {{gameInfo.team1Score}}
                </span>)
            </span>
            <span class="versus">VS</span>
            <span class="team-name">
                <img src="{{gameInfo.team2.imageUrl}}" class="team-logo" onError="this.src='https://uslada-shop.ru/infoimages/31-oshibka-muzhchiny-v-posteli.png'"/>
                {{gameInfo.team2.name}} 
                (<span class="score" [ngClass]="gameInfo.team2Score > gameInfo.team1Score ? 'win':'loss'">
                    {{gameInfo.team2Score}}
                </span>)
            </span>
        </div>
        <div class="center-content second-row">
            <span class="date">
                {{gameInfo.gameTime | date: 'MMMM dd, yyyy HH:MM'}}
                ({{gameInfo.gameState}})
            </span>
        </div>

        <div class="third-row">
            <div class="about">Gametime:</div>
            <div class="form-content">
                <input type="datetime-local" [(ngModel)]="gameInfo.gameTime" class="inputs"/>
            </div>
        </div>

        <div  class="message-content center-content">
                <span [ngClass]="message == 'Game Details was successfully updated.' ? 'success':'error'">
                    {{message}}
                </span>
        </div>
        
        <div class="button-location center-content">
            <button class="w3-btn w3-ripple w3-green" (click)="saveChanges()">APPLY CHANGES</button>
            <button class="w3-button w3-white w3-border w3-border-blue" (click)="cancelChanges()">CANCEL</button>
        </div>
    </div>

</div>