@import '../../shared/colors';


.game-edit-parent-page {
    color: $martinique;
    .card-header {
        font-size: 2em;
    }
    
    .inputs {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1.25;
        color: #3e515b;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #c2cfd6;
        border-radius: 0;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .team-match {
        .team-name {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.5em;

            .team-logo {
                width: 4%;
                height: 4%;
            }
            
            .win {
                color: $light-blue;
            }
            
            .loss {
                color: $dark-red;
            }
        }

        .versus {
            color: orangered;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: 3%;
            margin-right: 3%;
        }
    }
    
    .second-row {
        margin-top: 2%;
        .date {
            font-size: 21px;
        }
    }

    .third-row {
        margin-top: 2%;
        display: block;

        .about , .form-content{
            display: inline-block;
        }
    }

    .form-content {
        @media screen and (min-width: 768px){
            margin-left: 3%;
            margin-right: 3%;
        }
        @media screen and (max-width: 768px){
            margin-top: 2%;
        }
    }
    // .message-content {
    //         margin-top: 5%;
    //         font-weight: 700;
            
    //         .success {
    //             color: $light-blue;
    //         }

    //         .error {
    //             color: $dark-red;
    //         }
    //     }
    .button-location {
        margin-top: 5%;
    }
}