<div class="card">
  <div class="card-block">
    <h2>Daily Users</h2>
    <app-chart-daily-users></app-chart-daily-users>
  </div>
</div>

<div class="card">
    <div class="card-block">
      <h2>Device Share</h2>
      <app-chart-daily-device></app-chart-daily-device>
    </div>
  </div>

<div class="card">
  <div class="card-block">
    <div class="title">  
      <h2>Daily Actions</h2>
    </div>
    <div class="input">  
      <select class="form-control" [(ngModel)]="currentView" (change)="changeCurrentActivity()">
        <option value="rules">Rules Page</option>
        <option value="contest_info">Game Info</option>
        <option value="view_prize">Price Pool</option>
        <option value="draft_team">User Draft a team</option>
      </select>
    </div>
    <div *ngIf="currentView == 'contest_info' || currentView == 'rules'"class="input">  
      <select class="form-control" [(ngModel)]="secondInputValue" (change)="changeCurrentActivity()">
        <ng-container *ngIf="currentView == 'contest_info'">
          <option *ngFor='let league of leagues | async' value="{{league.settings.name}}">{{league.settings.name}}</option>
        </ng-container>
        <ng-container *ngIf="currentView == 'rules'">
          <option value="basketball">BASKETBALL</option>
          <option value="football">FOOTBALL</option>
          <option value="LoL">LoL</option>
          <option value="1">MAIN</option>
        </ng-container>
      </select>
    </div>
    <app-chart-daily-activities></app-chart-daily-activities>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h2>Contest Analytics</h2>
    <app-contest-analytics></app-contest-analytics>
  </div>
</div>