<div class="container">
  <div class="row">
    <div class="col-md-12 card">
      <div class="card-block">
        <div class="row">
          <div class="col-md-4">
            <label>Select Leauge</label>
            <select [(ngModel)]="selectedLeague" class="form-control">
              <option *ngFor="let league of leagues | async" [ngValue]="league">{{ league.settings.name }}</option>
            </select>
          </div>
          <div *ngIf="selectedLeague" class="col-md-4">
            <label>Select Period</label>
            <select [(ngModel)]="selectedPeriod" class="form-control">
              <option [value]="selectedLeague.currentPeriodId" >Current Period</option>
              <option [value]="selectedLeague.previousPeriodId" >Previous Period</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Action</label>
            <button (click)="filterList()" class="form-control btn-success btn">
              Filter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 card">
      <div class="card-header">List</div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <table class="table tabl-striped table-bordered">
              <thead>
                <tr>
                  <th>Contest Name</th>
                  <th>Entry Fee</th>
                  <th>Closes At</th>
                  <th>Maximum Prize</th>
                  <th>Entries</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                  <tr *ngFor="let contest of contests | async">
                    <td><app-contest-name [contest]="contest"></app-contest-name></td>
                    <td>{{ contest.entryFee }}</td>
                    <td>{{ contest.closesAt + 'Z' | date }}</td>
                    <td>{{ contest.maxPrizePool }}</td>
                    <td>{{ contest.numberOfEntries }}/{{ contest.maxEntries }}</td>
                    <td><button routerLink="/house-players/enter/{{ contest.id }}" class="btn btn-primary">Enter Lineup</button></td>
                  </tr>
            
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>