<div class="card edit-player-parent">
    <div class="card-header center-content">
        Player Profile
    </div>
    <div class="card-block">
            <div class="first-row">
                    <div class="image-location">
                        <img src='{{playerInformation.imageUrl}}' class="player-image" onError="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM76OHG5-HH7NpGpzToiVmVrUkk5SuZQt6hhNHH-o65F0b23y_MaNgJu8'"/>
                    </div>
                    <div class="primary-information">
                        <div class="name">{{playerInformation.name | uppercase}} ({{playerInformation.jerseyNumber}})</div>
                        <div class="position">{{playerInformation.position.name}}</div>
                    </div>
                </div>
                <div class="second-row">
                    <div class="name">
                        <span>Name:</span>
                        <span><input type='text' [(ngModel)]='playerInformation.name' class="inputs" min=0/></span>
                    </div>
                    <div class="jersey-number">
                        <span>Jersey Number:</span>
                        <span><input type='number' [(ngModel)]='playerInformation.jerseyNumber' class="inputs" min=0/></span>
                    </div>
                    <div class="salary">
                        <span>Salary:</span>
                        <span><input type='number' [(ngModel)]='playerInformation.salary' class="inputs" [disabled]="periodKey != 'Next'" [ngClass]="periodKey != 'Next' ? 'not-allowed':''"/></span>
                    </div>
                    <div class="position">
                        <span>Position:</span>
                        <span>
                           <select class="inputs" [(ngModel)]='playerInformation.positionId'>
                                <option *ngFor="let position of playerPositions | async" value="{{position.id}}">{{position.name}}</option>
                            </select>
                        </span>
                    </div>
                </div>
                
                <div class="third-row">
                    <div class="team">
                        <span>Team:</span>
                            <span>
                                <select class="inputs" [(ngModel)]='playerInformation.teamId'>
                                        <option *ngFor="let team of teams | async" value="{{team.id}}">{{team.name}}</option>
                                </select>
                            </span>
                        
                    </div>
                    <div class="imageUrl">
                        <span>Image Url</span>
                        <span><input type='text' [(ngModel)]='playerInformation.imageUrl' class="inputs"/></span>    
                    </div>
                </div>
                <div  class="message-content center-content">
                        <span [ngClass]="message == 'Player Profile was successfully updated.' || message == 'Player Salary was successfully updated.' ? 'success':'error'">
                            {{message}}
                        </span>
                </div>
                <div class="remote-row center-content">
                    <button class="w3-btn w3-ripple w3-green" (click)="saveChanges()">SAVE</button>
                    <button class="w3-button w3-white w3-border w3-border-blue" (click)="cancelChanges()">CANCEL</button>
                </div>
    </div>
</div>