@import '../../shared/colors';

.edit-player-parent {
    color: $martinique;
    // margin-left: 2%;
    // margin-right: 2%;
    // padding: 3%;
    // background-color: #c0cdfe;
    .card-header {
        font-size: 2em;
    }


    .inputs {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1.25;
        color: #3e515b;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #c2cfd6;
        border-radius: 0;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .not-allowed {
        cursor: not-allowed;
    }

    .first-row {
        display: block;

        .image-location {
            display: inline-block;
            .player-image {
                border:2px solid $martinique;
                background-color: $white;
                border-radius: 20%;
            }
        }
        .primary-information {
            display: inline-block;
            margin-left: 2%;

            .name {
                font-weight: bolder;
            }

            .salary, .position {
                font-weight: bold;
            }
        }
    }

    .second-row {
        margin-top: 5%;
        display: block;

        .jersey-number, .salary , .position, .name{
            display: inline-block;

            @media screen and (max-width: 768px){
                width: 100%;
            }


            .drop-down-position {
                cursor: not-allowed;
            }
        }

        .salary , .position, .jersey-number {
            @media screen and (min-width: 768px){
                margin-left: 3%;
            }
            @media screen and (max-width: 768px){
                margin-top: 2%;
            }
        }
    }

    .third-row {
        margin-top: 2%;
        display: block;

        .team , .imageUrl{
            display: inline-block;
            @media screen and (min-width: 768px){
                margin-left: 3%;
            }
            @media screen and (max-width: 768px){
                width: 100%;
            }
        }
    }
    .remote-row {
        margin-top: 5%;
    }
}